body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.outer-box {
  width: 100%; 
  height: 100%; 
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  width: calc(100% - 10px); 
  max-width: 90%;
  height: calc(100% - 10px); 

  max-height: 90%;
  background-color: #d90606;
  border: 2px solid #2c3e50;
  border-radius: 8px;
  padding: 20px; 
  box-sizing: border-box;
  text-align: center;
}

.text-holder-heading {
  margin: 0;
  color: #fff;
  
}

.text-holder-paragraph {
  margin: 0;
  color: #fff;
  text-align: justify;
  text-align: center;
}